name: CI Workflow

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Nodejs with yarn caching
        uses: actions/setup-node@v4
        with:
          cache: yarn
          node-version-file: ".nvmrc"

      - name: Install dependencies
        run: |
          yarn install

      - name: Run lint
        run: |
          cd pkg/supportability-review-app/
          npm run format-check

      - name: Build Rancher Extension
        run: |
          yarn build-pkg supportability-review-app
